@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {
    font-family: var(--font-01);
    font-family: var(--font-arial);
    font-size: var(--fs-12);
}




/* nav */
.nav {
    background-color: #232f3e;
    color: white;
    height: 40px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 10px 20px;
}