@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');


body {

    font-family: var(--font-arial);
    font-size: var(--fs-12);
}

.menu a {
    /* background-color: var(--blue); */
    color: var(--white);
    text-decoration: none;

}

nav ul li {
    display: inline-block;
}

/* nav .promocional {
    text-align: right;
}


nav .promocional img {
    width: 100%;
    min-width: 300px;
} */

.carousel {
    height: 200px;
    background-color: rgb(130, 127, 127);
}

.produto {
    padding: 0 5px;
    color: aliceblue;

}

.protudo-item {}