* {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    margin: 90px;
}

.login {
    background-color: #fff;
    text-align: center;
    margin-top: 5%;
    display: inline-block;
    vertical-align: top;
}


.login-user {
    padding: 20px 26px;
    margin: 8px;
    border-radius: 4px;
    display: block;
    border-style: ridge;
}

.login-user input {
    width: 50%;
}


.login-user button {
    padding: 0 10px;
    width: 50%;
    float: inline-end;
}

.alterar {
    color: blue
}